#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp Q  &kp W  &kp E  &kp R        &kp T          &kp Y                  &kp U                    &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F        &kp G          &kp H                  &kp J                    &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V        &kp B          &kp N                  &kp M                    &kp COMMA  &kp DOT  &kp FSLH
                     &lt 2 LCTRL  &lt 1 ENTER    &mt RIGHT_SHIFT SPACE  &mt RIGHT_ALT BACKSPACE
            >;
        };

        ctrl {
            bindings = <
&bt BT_CLR_ALL  &trans  &trans  &trans  &trans    &trans  &kp LEFT_BRACKET   &trans  &trans  &sys_reset
&bt BT_SEL 0    &trans  &trans  &trans  &trans    &trans  &kp RIGHT_BRACKET  &trans  &trans  &bootloader
&bt BT_SEL 1    &trans  &trans  &trans  &trans    &trans  &kp SINGLE_QUOTE   &trans  &trans  &studio_unlock
                                &trans  &trans    &trans  &trans
            >;
        };

        navi { status = "reserved"; };

        ctrlextra { status = "reserved"; };

        system { status = "reserved"; };
    };
};
